<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="shortcut icon" href="img/icons/icon-48x48.png" />
        <title>
            {% block title %}
                Admin
            {% endblock %}
        </title>
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('css/lightbox.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style-back.min.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <nav id="sidebar" class="sidebar js-sidebar">
                <div class="sidebar-content js-simplebar">
                    <a class="sidebar-brand" href="{{ path('app_admin_dashboard') }}">
                        <span class="align-middle">
                            MCD PEP
                        </span>
                    </a>
                    <ul class="sidebar-nav">
                        <li class="sidebar-item active">
                            <a class="sidebar-link" href="{{ path('app_front_home') }}" target="_blank">
                                <i class="align-middle" data-feather="globe"></i>
                                <span class="align-middle">
                                Voir le site
                                </span>
                            </a>
                        <li class="sidebar-item active">
                            <a class="sidebar-link" href="{{ path('app_admin_dashboard') }}">
                                <i class="align-middle" data-feather="sliders"></i>
                                <span class="align-middle">
                                    Dashboard
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('app_admin_restaurant_index')}}">
                                <i class="align-middle" data-feather="home"></i>
                                <span class="align-middle">
                                    Restaurant
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('app_admin_user_index')}}">
                                <i class="align-middle" data-feather="user"></i>
                                <span class="align-middle">
                                    User
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('app_admin_tache_index')}}">
                                <i class="align-middle" data-feather="tool"></i>
                                <span class="align-middle">
                                    Tache
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('app_admin_equipement_index')}}">
                                <i class="align-middle" data-feather="book"></i>
                                <span class="align-middle">
                                    Equipement
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('app_admin_fiches_index')}}">
                                <i class="align-middle" data-feather="book"></i>
                                <span class="align-middle">
                                    Fiches
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('app_admin_periodicite_index')}}">
                                <i class="align-middle" data-feather="check-square"></i>
                                <span class="align-middle">
                                    Périodicité
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('app_admin_notes_index')}}">
                                <i class="align-middle" data-feather="grid"></i>
                                <span class="align-middle">
                                    Notes
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="ui-typography.html">
                                <i class="align-middle" data-feather="align-left"></i>
                                <span class="align-middle">
                                    To Do List
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="icons-feather.html">
                                <i class="align-middle" data-feather="coffee"></i>
                                <span class="align-middle">
                                    Icons
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-header">
                            Plugins & Addons
                            					
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="charts-chartjs.html">
                                <i class="align-middle" data-feather="bar-chart-2"></i>
                                <span class="align-middle">
                                    Charts
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="maps-google.html">
                                <i class="align-middle" data-feather="map"></i>
                                <span class="align-middle">
                                    Maps
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="main">
                <nav class="navbar navbar-expand navbar-light navbar-bg">
                    <a class="sidebar-toggle js-sidebar-toggle">
                        <i class="hamburger align-self-center"></i>
                    </a>
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav navbar-align">

                            <li class="nav-item dropdown">
                                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                                    <i class="align-middle" data-feather="settings"></i>
                                </a>
                                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                                    <img src="img/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="Charles Hall" />
                                    <span class="text-dark">
                                        Charles Hall
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="pages-profile.html">
                                        <i class="align-middle me-1" data-feather="user"></i>
                                        Profil
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        Déconnexion
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main class="content">
                    <div class="container-fluid p-0">
                        {# Prise en charge des messages flash potentiels #}
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {#  #}
                        {% block body %}{% endblock %}
                    </div>
                </main>
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row text-muted">
                            <div class="col-6 text-start">
                                <p class="mb-0">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">
                                        <strong>
                                            AdminKit
                                        </strong>
                                    </a>
                                    - 
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">
                                        <strong>
                                            Bootstrap Admin Template
                                        </strong>
                                    </a>
                                    &copy;
                                    							
                                </p>
                            </div>
                            <div class="col-6 text-end">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="text-muted" href="https://adminkit.io/" target="_blank">
                                            Support
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="text-muted" href="https://adminkit.io/" target="_blank">
                                            Help Center
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="text-muted" href="https://adminkit.io/" target="_blank">
                                            Privacy
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="text-muted" href="https://adminkit.io/" target="_blank">
                                            Terms
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="{{ asset('js/lightbox-plus-jquery.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
